/* static/styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #e50914;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-image {
    width: auto;
    height: 600px;
    margin: 10px;
    border: 2px solid #e50914;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d10812;
}

/* Ajoutez ces styles à votre fichier static/styles.css */
.result-item {
    text-align: center;
    margin: 20px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Couleur du cache */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Animation de transition de l'opacité */
}

.overlay.visible {
    opacity: 1;
}

.film-text {
    color: #ccc;
    font-style: italic;
}

/* Ajoutez ces styles à votre fichier static/styles.css */
.slick-carousel {
    width: 80%;
    margin: auto;
    z-index: 1;
}

/* Utilisez les classes .slick-prev et .slick-next pour les styles des flèches */
.slick-prev, .slick-next {
    font-size: 20px;
    color: #fff;
    background: #e50914;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.slick-prev:hover, .slick-next:hover {
    background: #d10812;
}
